{
  "presets": ["@babel/preset-env"],
  "plugins": [
    ["@babel/plugin-transform-runtime"],
    [
      "module-resolver",
      {
        "extensions": [".js", ".jsx", ".ts", ".tsx", ".json"],
        "alias": { "~": "./src" }
      }
    ]
  ]
}
